*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
header{
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 2px;
}
.fixed-nav{
    position: fixed;
    width: 100%;
    background-color: white;
}

.header-nav{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5em;
    display: flex;
}
.menu{
    display: none;
}

.logo{
    width: 5em;
    height: 40px;
}
.logo img{
    width: 70px;
    height: 45px;
}

.navegation-options ul{
    font-size: 12px;
    display: flex;
    margin-left: 3em;
    width: 690px;
    height: 40px;
    align-items: center;
}
.navegation-options ul li{
    margin-left: 4em;
    color: #9767A9;
}
.navegation-options ul li:hover{
    font-weight: bolder;
    transform: scale(1.2);
}

.nav-search{
    margin-left: 1em;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input{
    background-image: url(Image/Layer_3.svg);
    background-repeat: no-repeat;
    background-size: 9%;
    margin-left: 25px;
    width: 75%;
    padding: 8px;
    padding-left: 40px;
    background-position: 10px;
    border-radius: 20px;
    border: solid #9767A9 2px;
}

.redes{
    display: flex;
}
.redes img{
    width: 30px;
    height: 50px;
    margin-left: 10px;
}

main{
    background-image: url(Image/cabeludo.png);
    width: 100%;
    height: 100em;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: inherit;
}

@media (max-width:1190px){
    .header-nav{
        padding: 1%;
    }
    navegation-options ul{
        width: 100%;
    }
}

@media (max-width:1080px){
    form{
        display: none;
    }
}

@media (max-width:936px){
    .header-nav{
        justify-content: space-between;
    }
    .navegation-options{
        width: 30%;
        margin-left: -300px;

    }
    .navegation-options ul li{
        font-size: 10px;
    }
}

@media (max-width:760px){
    .nav-search{
        display: none;
    }
    .header-nav{
        justify-content: space-evenly;
        margin-left: -220px;
    }
}

@media (max-width:650px){

    .fixed-nav{
        padding: 0;
        margin: 0;
    }

    .header-nav{
        padding: 0;
        
    }

    .navegation-options{
        display: none;
    }
    .menu{
        display: flex;
        margin-left: 100px;
        height: 100%;
    }
    .menu img{
        width: 100%;
        height: 100%;
    }
    .logo{
        display: flex;
        justify-content: center;
    }

}