@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.fixed-nav {
    max-width: 1920px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 9999;
}

.header-nav {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5em;
    display: flex;
}

.menu {
    display: none;
}

.logo {
    width: 5em;
    height: 3em;
}

.logo img {
    width: 70px;
    height: 45px;
    cursor: pointer;
}

.navegation-options ul {
    font-size: 12px;
    display: flex;
    margin-left: 3em;
    width: 55em;
    height: 50px;
    align-items: center;
}

.navegation-options ul li {
    margin-left: 4em;
    color: #9767A9;
    cursor: pointer;
    transition: 0.2s all;
}

.navegation-options ul li:hover {
    font-weight: bolder;
    transform: scale(1.2);
}

.nav-search {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input {
    background-image: url(Image/Layer_3.svg);
    background-repeat: no-repeat;
    background-size: 9%;
    width: 75%;
    height: 3em;
    padding-left: 40px;
    background-position: 10px;
    border-radius: 20px;
    border: solid #9767A9 2px;
}

.redes {
    display: flex;
}

.redes img {
    width: 30px;
    height: 50px;
    margin-left: 1.5em;
    cursor: pointer;
}

main {
    width: 100%;
    position: relative;
}

.container-main {
    background-image: url(Image/cabeludo.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    width: 100%;
    height: 20em;
    color: white;
    justify-content: space-evenly;
    font-size: 30px;
    display: flex;
    position: relative;
    top: 2em;
}

.tricks {
    margin: auto 0;
    height: 3.5em;
    width: 8em;
    font-size: 50px;
    position: absolute;
    left: 3em;
    top: 5em;
}

.sab {
    margin: auto 0;
    width: 13em;
    height: 2.5em;
    position: absolute;
    right: 5em;
    top: 13em;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.container-text {
    color: white;
    position: absolute;
    top: 660px;
    background: #9767A9;
    max-width: 1920px;
    display: flex;
    width: 100%;
    height: 19em;
    padding-top: 1.5em;
    padding-left: 5em;
}

.main-text {
    width: 50%;
    height: 6em;
    text-align: left;
    font-size: 1.4em;
    font-family: 'Playfair Display SC', serif;
}

.journey-text {
    width: 40%;
    margin-left: 1em;
    display: flex;
    text-align: left;
    font-size: 1.1em;
    flex-direction: column;
}

.journey-text p {
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}

.img-crespos {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20.5em;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.img-crespos figure {
    width: 100%;
}

.crespos-top {
    width: 100%;
    display: flex;
    text-align: center;
    margin-bottom: 15em;
}

.crespos-top .crespos-left:hover .box-text {
    z-index: 12;
    top: 14em;
    width: 350px;
    height: 260px;
    opacity: 1;
}

.crespos-top .crespos-right:hover .box-text {
    z-index: 12;
    top: 14em;
    width: 350px;
    height: 260px;
    opacity: 1;
}

.crespos-mid {
    width: 100%;
    display: flex;
    text-align: center;
    margin-bottom: 13em;
}

.crespos-mid .crespos-left:hover .box-text {
    z-index: 12;
    top: 15em;
    width: 300px;
    height: 230px;
    opacity: 1;
}

.crespos-mid .crespos-right:hover .box-text {
    z-index: 12;
    top: 19em;
    width: 350px;
    height: 190px;
    opacity: 1;
}

.crespos-center {
    width: 100%;
    display: flex;
    text-align: center;
    margin-bottom: 13em;
}

.crespos-center .crespos-left:hover .box-text {
    z-index: 12;
    top: 14em;
    width: 350px;
    height: 250px;
    opacity: 1;
}

.crespos-center .crespos-right:hover .box-text {
    z-index: 12;
    top: 18em;
    width: 350px;
    height: 195px;
    opacity: 1;
}

.crespos-bottom {
    width: 100%;
    display: flex;
    text-align: center;
}

.crespos-bottom .crespos-left:hover .box-text {
    z-index: 12;
    top: 15em;
    width: 350px;
    height: 170px;
    opacity: 1;
}


.crespos-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 5em;
    top: -3em;
}

.crespos-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    right: 8em;
    top: 10em;
}

.box-text {
    background-color: #9767A9;
    color: white;
    position: absolute;
    opacity: 0;
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    top: 1em;
    z-index: 1;
    transition: 1.8s all;
}

div h3 {
    font-family: 'Playfair Display', 'Black Roman';
    font-size: 1.3em;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
}

h3 .number {
    font-size: 1.5em;
    font-family: 'Playfair Display SC';
}

figure div p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
    height: 14em;
    text-align: left;
}


.contain-crespos {
    width: 400px;
    height: 320px;
    object-fit: contain;
    z-index: 10;
}

.contain-crespos img {
    width: 900px;
    height: 320px;
    object-fit: contain;
    z-index: 10;
}

.ondulado {
    width: 50%;
    position: absolute;
    top: 2em;
}

.gallery {
    width: 100%;
    position: absolute;
    top: 185em;
    display: flex;
    margin: 0 auto;
}

.gallery-left {
    width: 45%;
    display: flex;
    height: 100%;
    margin-left: -2em;
}

.gallery-prince {
    flex-direction: column;
    padding-left: 4em;
    margin-left: 3.5em;
}

.Rei {
    width: 250px;
    height: 405px;
}

.Gloria-Maria {
    width: 250px;
    height: 200px;
}

.gallery-sec {
    display: flex;
    flex-direction: column;
}

.Cachos-Ruivos {
    width: 200px;
    height: 200px;
}

.Killmonger {
    width: 200px;
    height: 200px;
}

.Moça-foto {
    width: 200px;
    height: 200px;
}


.gallery-right {
    width: 45%;
    height: 100%;
    display: flex;
    height: 100%;

}

.gallery-R-top {
    display: flex;
    flex-direction: column;
    margin-right: 0.5em;
}

.cigarro {
    width: 200px;
    height: 405px;
    margin-bottom: 0.3em;
}

.Snoopydog {
    width: 200px;
    height: 195px;
}

.gallery-R-mid {
    margin-right: 0.5em;
}

.cabelo-grande {
    width: 250px;
    height: 605px;
}

.gallery-R-bott {
    display: flex;
    flex-direction: column;
}

.trançasA {
    width: 200px;
    height: 195px;
    margin-bottom: 0.3em;
}

.carinhoB {
    width: 200px;
    height: 405px;
}


footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #9767A9;
    width: 100%;
    height: 6em;
    max-width: 1990px;
    position: relative;
    top: 70em;
}

.contain-foot {
    width: 100%;
    height: 100%;
    padding-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    background: #9767A9;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.img-foot {
    display: none;
}

.foot-CopyR {
    width: 70%;
    height: 50%;
}

.foot-CopyR p {
    font-size: 0.7em;
}

.foot-CopyR h4 {
    display: none;
}

.nav-foot {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-foot figure {
    display: flex;
    width: 30%;
}

.nav-foot figure img {
    width: 2em;
}

.nav-foot figure p {
    font-size: 0.9em;
}

.left-row {
    cursor: pointer;
    transition: 1s all;
}

.left-row:hover {
    background-color: rgb(204, 137, 220);
    opacity: 0.8;
}

.left-row p {
    padding-top: 6px;
}

.up-row {
    transition: 1s all;
}

.up-row:hover {
    background-color: rgb(204, 137, 220);
    opacity: 0.8;
}

.up-row p {
    padding-left: 5px;
    padding-top: 5px;
    text-align: center;
}

.right-row {
    transition: 1s all;
    cursor: pointer;
}

.right-row:hover {
    background-color: rgb(204, 137, 220);
    opacity: 0.8;
}

.right-row p {
    padding-left: 25px;
    padding-top: 6px;
    text-align: center;
}

@media (min-width:1630px) {
    .container-main {
        width: 100%;
        height: 22em;
        top: 0em;
    }

    .tricks {
        margin: auto 0;
        height: 3.5em;
        width: 5em;
        font-size: 50px;
        position: absolute;
        left: 5em;
        top: 6em;
    }

    .sab {
        right: 10em;
        top: 12.5em;
    }
}

@media (max-width:1269px) {
    .gallery-left {
        margin-left: -5em;
    }

    .gallery-right {
        margin-left: 2em;
    }
}

@media (max-width:1205px) {
    .gallery {
        flex-direction: column;
        align-items: center;
        margin-left: -9em;
    }

    .gallery-left {
        margin-left: -10em;
    }

    .gallery-prince {
        margin-left: 2em;
        margin-right: 2em;
    }

    .Rei {
        width: 350px;
        height: 405px;
    }

    .Gloria-Maria {
        width: 350px;
        height: 200px;
    }

    .gallery-sec {
        margin-left: -1em;
    }

    .Cachos-Ruivos {
        width: 300px;
        height: 200px;
    }

    .Killmonger {
        width: 300px;
        height: 200px;
    }

    .Moça-foto {
        width: 300px;
        height: 200px;
    }

    footer {
        top: 110em;
    }
}

@media (max-width:1200px) {
    .crespos-left {
        margin: 0 auto;
        left: 0;
    }

    .crespos-right {
        margin: 0 auto;
        left: -1em;
    }

    .crespos-top {
        margin-bottom: 10em;
    }

    .crespos-mid {
        margin-bottom: 12em;
    }

    .crespos-center {
        margin-bottom: 10em;
    }

    footer {
        top: 120em;
    }

}

@media (max-width:1190px) {
    .header-nav {
        padding: 2%;
    }

    .navegation-options ul {
        width: 100%;
        margin-left: -0.5em;
        margin-right: 2em;
    }

    .main-text {
        font-size: 1.4em;
    }

    .journey-text {
        font-size: 1em;
    }
}

@media (max-width:1170px) {

    .contain-crespos {
        width: 380px;
        height: 320px;
    }

    .ondulado {
        top: 4em;
    }

    .crespos-left {
        top: -1em;
    }

    .crespos-right {
        top: 8em;
    }

    .crespos-top {
        margin-bottom: 5em;
    }

    .crespos-top .crespos-left:hover .box-text {
        top: 12em;
        width: 290px;
        height: 270px;
    }

    .crespos-top .crespos-right:hover .box-text {
        top: 14em;
        width: 320px;
        height: 230px;
    }

    .crespos-mid {
        margin-bottom: 5em;
    }

    .crespos-mid .crespos-left:hover .box-text {
        top: 14em;
        width: 290px;
        height: 200px;
    }

    .crespos-mid .crespos-right:hover .box-text {
        top: 15em;
        width: 320px;
        height: 250px;
    }

    .crespos-center {
        margin-bottom: 7em;
    }

    .crespos-center .crespos-left:hover .box-text {
        top: 14em;
        width: 290px;
        height: 240px;
    }

    .crespos-center .crespos-right:hover .box-text {
        top: 18em;
        width: 300px;
        height: 200px;
    }

    .crespos-bottom .crespos-left:hover .box-text {
        top: 15em;
        width: 300px;
        height: 190px;
    }

    footer {
        top: 130em;
    }
}

@media (max-width:1080px) {
    form {
        display: none;
    }

    .container-text {
        padding: 2em;
    }
}

@media (max-width:1060px) {
    .img-crespos {
        top: 26em;
    }
}

@media (max-width:1048px) {
    .nav-search {
        width: 20%;
    }

    .container-text {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .main-text {
        width: 70%;
        font-size: 20px;
        padding-top: 1em;
    }

    .journey-text {
        width: 70%;
    }
}

@media (max-width:1000px) {
    .navegation-options ul li {
        font-size: 12px;
    }
}

@media (max-width:936px) {
    .header-nav {
        justify-content: space-evenly;
    }

    .navegation-options {
        width: 70%;
    }

    .navegation-options ul li {
        font-size: 10px;
    }

    .container-main {
        flex-direction: column;
    }

    .tricks {
        top: 3em;
        left: 0.5em;
    }

    .sab {
        top: 14em;
        left: 1.5em;
    }

    .container-text h1 {
        font-size: 25px;
    }

    .container-text p {
        font-size: 15px;
    }

    .contain-crespos {
        width: 400px;
        height: 320px;
    }

    .crespos-top {
        flex-direction: column;
    }

    .crespos-top .crespos-right:hover .box-text {
        top: 12em;
        height: 20em;
    }

    .crespos-mid {
        flex-direction: column;
        position: relative;
        top: 13em;
    }

    .crespos-mid .crespos-left:hover .box-text {
        top: 14em;
        height: 15em;
    }

    .crespos-mid .crespos-right:hover .box-text {
        top: 19em;
        height: 13em;
    }

    .crespos-center {
        flex-direction: column;
        position: relative;
        top: 25em;
    }

    .crespos-center .crespos-left:hover .box-text {
        top: 13em;
        height: 16em;
    }

    .crespos-center .crespos-right:hover .box-text {
        top: 18em;
        height: 15em;
    }

    .crespos-bottom {
        flex-direction: column;
        position: relative;
        top: 40em;
    }

    .crespos-left {
        top: -4em;

    }

    .crespos-right {
        left: -1em;
        top: 6em;
    }

    .gallery {
        top: 285em;
    }

    footer {
        top: 170em
    }

}

@media (max-width:910px) {
    .img-crespos {
        flex-direction: column;
    }

    .nav-search {
        display: none;
    }

    .header-nav {
        justify-content: space-evenly;
    }

    .navegation-options {
        width: 90%;
    }
}

@media (max-width:777px) {

    .img-crespos {
        top: 30em;
    }

    .gallery {
        left: -3.5em;
    }

    .contain-foot {
        padding-left: 2em;
    }

    .foot-CopyR p {
        font-size: 0.5em;
    }

    .nav-foot {
        width: 85%;
    }
}

@media (max-width:665px) {

    .gallery-left {
        margin-left: 1em;
    }

    .Rei {
        width: 250px;
        height: 405px;
    }

    .Gloria-Maria {
        width: 250px;
        height: 200px;
    }

    .gallery-sec {
        margin-left: -1em;
    }

    .Cachos-Ruivos {
        width: 200px;
        height: 200px;
    }

    .Killmonger {
        width: 200px;
        height: 200px;
    }

    .Moça-foto {
        width: 200px;
        height: 200px;
    }


    .gallery-right {
        margin-left: 13em;

    }

    .cigarro {
        width: 150px;
        height: 405px;
        margin-bottom: 0.3em;
    }

    .Snoopydog {
        width: 150px;
        height: 195px;
    }

    .cabelo-grande {
        width: 175px;
        height: 605px;
    }

    .trançasA {
        width: 125px;
        height: 195px;
        margin-bottom: 0.3em;
    }

    .carinhoB {
        width: 125px;
        height: 405px;
    }

}

@media (max-width:655px) {

    .header-nav {
        justify-content: flex-start;
        padding: 0;
    }

    .menu {
        display: flex;
        width: 100px;
    }

    .menu img {
        width: 100%;
        height: 100%;
    }

    .logo {
        position: relative;
        left: 10em;
    }

    .navegation-options {
        display: none;
    }

    .container-main {
        top: 0em;
        background-position: 35%;
        background-size: 200%;
    }

    .container-text {
        top: 34em;
        height: 28em;
        padding: 2em;
    }

    .main-text {
        width: 100%;
    }

    .journey-text {
        width: 100%;
    }

    .journey-text p {
        margin-bottom: 2em;
        font-size: 1em;
    }

    .img-crespos {
        top: 30em;
    }

    .crespos-top .crespos-left {
        top: -5em;
    }

    .crespos-top .crespos-left .box-text {
        z-index: 12;
        top: 10em;
        width: 100%;
        height: 30em;
        opacity: 1;
    }

    .crespos-top .crespos-left:hover .box-text {
        z-index: 12;
        top: 10em;
        width: 100%;
        height: 30em;
        opacity: 1;
    }

    .crespos-top .crespos-left .box-text h3 {
        padding-top: 0;
        margin: 0 auto;
        position: relative;
        left: -2em;
        width: 10em;
        font-size: 1.6em;
        margin-bottom: 1em;
    }

    .crespos-top .crespos-left .box-text p {
        width: 22em;
        margin: 0 auto;
        position: relative;
        left: -0.5em;
        text-align: left;
        padding-top: 0;
        font-size: 0.9em;
    }

    .crespos-right {
        left: 0em;
    }

    .crespos-top .crespos-right {
        top: 17em;
    }

    .crespos-top .crespos-right .box-text {
        z-index: 12;
        top: 15em;
        width: 100%;
        height: 32em;
        opacity: 1;
    }

    .crespos-top .crespos-right:hover .box-text {
        z-index: 12;
        top: 15em;
        width: 100%;
        height: 32em;
        opacity: 1;
    }

    .crespos-top .crespos-right .box-text h3 {
        padding-top: 0;
        margin: 0 auto;
        position: relative;
        left: -1.8em;
        width: 10em;
        font-size: 1.6em;
        margin-bottom: 1em;
    }

    .crespos-top .crespos-right .box-text p {
        width: 22em;
        margin: 0 auto;
        position: relative;
        left: -0.5em;
        text-align: left;
        padding-top: 0;
        font-size: 0.9em;
    }

    .crespos-mid .crespos-left {
        top: 28em;
    }

    .crespos-mid {
        margin-left: 0em;
    }

    .crespos-mid .crespos-left .box-text {
        z-index: 12;
        top: 13em;
        width: 100%;
        height: 20em;
        opacity: 1;
    }

    .crespos-mid .crespos-left:hover .box-text {
        z-index: 12;
        top: 13em;
        width: 100%;
        height: 20em;
        opacity: 1;
    }

    .crespos-mid .crespos-left .box-text h3 {
        padding-top: 0;
        margin: 0 auto;
        position: relative;
        left: -2.5em;
        width: 8em;
        font-size: 1.6em;
        margin-bottom: 1em;
    }

    .crespos-mid .crespos-left .box-text p {
        width: 22em;
        margin: 0 auto;
        position: relative;
        left: -0.2em;
        text-align: left;
        font-size: 0.9em;
    }


    .crespos-mid .crespos-right {
        top: 43em;
    }

    .crespos-mid .crespos-right .box-text {
        z-index: 12;
        top: 18em;
        width: 100%;
        height: 21em;
        opacity: 1;
    }

    .crespos-mid .crespos-right:hover .box-text {
        z-index: 12;
        top: 18em;
        width: 100%;
        height: 21em;
        opacity: 1;
    }

    .crespos-mid .crespos-right .box-text h3 {
        padding-top: 0;
        margin: 0 auto;
        position: relative;
        left: -0.5em;
        width: 13em;
        font-size: 1.6em;
        margin-bottom: 1em;
    }

    .crespos-mid .crespos-right .box-text p {
        width: 22em;
        position: relative;
        left: -0.5em;
        text-align: left;
        margin: 0 auto;
        padding-top: 0;
        font-size: 0.9em;
    }


    .crespos-center .crespos-left {
        top: 42em;
    }

    .crespos-center {
        margin-left: 0em;
    }

    .crespos-center .crespos-left .box-text {
        z-index: 12;
        top: 13em;
        width: 100%;
        height: 25em;
        opacity: 1;
    }

    .crespos-center .crespos-left:hover .box-text {
        z-index: 12;
        top: 13em;
        width: 100%;
        height: 25em;
        opacity: 1;
    }

    .crespos-center .crespos-left .box-text h3 {
        padding-top: 0;
        margin: 0 auto;
        position: relative;
        left: -1.7em;
        width: 10em;
        font-size: 1.6em;
        margin-bottom: 1em;
    }

    .crespos-center .crespos-left .box-text p {
        width: 22em;
        margin: 0 auto;
        position: relative;
        left: -0.5em;
        text-align: left;
        padding-top: 0;
        font-size: 0.9em;
    }


    .crespos-center .crespos-right {
        top: 61em;
    }

    .crespos-center .crespos-right .box-text {
        z-index: 12;
        top: 16em;
        width: 100%;
        height: 20em;
        opacity: 1;
    }

    .crespos-center .crespos-right:hover .box-text {
        z-index: 12;
        top: 16em;
        width: 100%;
        height: 20em;
        opacity: 1;
    }

    .crespos-center .crespos-right .box-text h3 {
        padding-top: 0;
        margin: 0 auto;
        position: relative;
        left: -1.8em;
        width: 10em;
        font-size: 1.6em;
        margin-bottom: 1em;
    }

    .crespos-center .crespos-right .box-text p {
        width: 22em;
        position: relative;
        left: -0.5em;
        margin: 0 auto;
        text-align: left;
        padding-top: 0;
        font-size: 0.9em;
    }

    .crespos-bottom .crespos-left {
        top: 62em;
    }

    .crespos-bottom {
        margin-left: 0em;
    }

    .crespos-bottom .crespos-left .box-text {
        z-index: 12;
        top: 17em;
        width: 100%;
        height: 17em;
        opacity: 1;
    }

    .crespos-bottom .crespos-left:hover .box-text {
        z-index: 12;
        top: 17em;
        width: 100%;
        height: 17em;
        opacity: 1;
    }

    .crespos-bottom .crespos-left .box-text h3 {
        padding-top: 0;
        margin: 0 auto;
        position: relative;
        left: -1.8em;
        width: 10em;
        font-size: 1.6em;
        margin-bottom: 1em;
    }

    .crespos-bottom .crespos-left .box-text p {
        width: 22em;
        position: relative;
        left: -0.5em;
        margin: 0 auto;
        text-align: left;
        padding-top: 0;
        font-size: 0.9em;
    }

    .crespos-bottom .ondulado {
        top: 72em;
    }

    .gallery {
        top: 350em;
    }

    footer {
        top: 240em;
    }

    .contain-foot {
        background: white;
        color: black;
        display: inline;
    }

    .foot-CopyR h4 {
        display: flex;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        font-size: small;
    }

    .img-foot {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 1em;
    }

    .redes-foot img {
        margin-right: 1em;
        cursor: pointer;
    }

    .nav-foot {
        display: none;
    }


}

@media (max-width:585px) {
    .container-text {
        top: 28em;
    }

    .img-crespos {
        top: 22em;
    }
}

@media (max-width:563px) {
    .container-main {
        top: -2em;
    }

    .container-text {
        padding-top: 0em;
    }

}

@media (max-width:515px) {
    .container-text {
        height: 25em;
    }

    .gallery {
        left: -5em;
    }
}

@media (max-width:500px) {
    .container-text {
        top: 26em;
    }

    .gallery {
        left: -6em;
    }
}

@media (max-width:470px) {
    .main-text {
        margin-bottom: 3em;
    }

    .container-text {
        height: 30em;
    }

    .img-crespos {
        top: 25em;
    }
}

@media (max-width: 456px) {

    .tricks {
        font-size: 30px;
        top: 6em;
        left: 2em;
    }

    .sab {
        font-size: 15px;
        top: 20em;
        left: 4em;
    }

    .container-text {
        height: 32em;
    }

    .img-crespos {
        top: 30em;
    }

    .crespos-center {
        top: 28em;
    }

    .gallery {
        left: -3em;
    }

    .Rei {
        width: 200px;
        height: 405px;
    }

    .Gloria-Maria {
        width: 200px;
        height: 200px;
    }

    .Cachos-Ruivos {
        width: 150px;
        height: 200px;
    }

    .Killmonger {
        width: 150px;
        height: 200px;
    }

    .Moça-foto {
        width: 150px;
        height: 200px;
    }

    .cigarro {
        width: 125px;
        height: 405px;
        margin-bottom: 0.3em;
    }

    .Snoopydog {
        width: 125px;
        height: 195px;
    }

    .cabelo-grande {
        width: 125px;
        height: 605px;
    }

    .trançasA {
        width: 100px;
        height: 195px;
        margin-bottom: 0.3em;
    }

    .carinhoB {
        width: 100px;
        height: 405px;
    }
}

@media (max-width:435px) {

    .container-main {
        background-position: 25%;
        background-size: 200%;
    }

    .container-text {
        top: 24em;
    }

}

@media (max-width:401px) {
    .container-text {
        height: 33em;
    }
}

@media (max-width:399px) {
    .contain-crespos {
        width: 320px;
    }

    .contain-crespos img {
        width: 320px;
    }

    .gallery {
        left: -4em;
    }
}

@media (max-width:381px) {
    .container-main {
        top: -3em;
    }

    .container-text {
        top: 21em;
    }
}